<!DOCTYPE html>
<html>
<head>
    <title>Dashboard SIGA</title>
</head>
<body>

<h1>Dashboard SIGA</h1>

<h3>Total de Associados: 0</h3>

<h3>Associados Ativos: 0</h3>

<h3>Quotas Pagas: 0</h3>

<h3>Quotas em Atraso: 0</h3>

<h3>Atividades Realizadas: 0</h3>

</body>
</html>